<div class="pull-right">
  <%= link_to like_recipe_path(rcp, like: true), method: :post do %>
    <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;<%= rcp.thumbs_up_total %>
  <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to like_recipe_path(rcp, like: false), method: :post do %>
    <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp;<%= rcp.thumbs_down_total %>
  <% end %>
</div>
